.root {
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 25px;
  width: 1000px;
  height: 640px;
}
.grid-element {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(232, 240, 255, 1);
  height: 287px;
}
.Page-title {
  width: 420px;
  height: 333px;
  row-gap: 0px;
  padding: 2px 0px 20px;
}
.main {
}
.title-font {
  font-family: FUTURA;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.1em;
  padding: 5px 10px 0px;
  margin-bottom: 10px;
  min-height: auto;
}
.prgrp-font {
  font-family: futura;
  font-weight: 300;
  font-size: 16px;
  padding-right: 25px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 20px;
  line-height: 1.42em;
  margin-top: 0px;
  padding-top: 0px;
}
.buttons {
  padding: 0px 0px 0px 2px;
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
  margin-top: 0px;
  width: 100%;
  justify-content: space-between;
}
.button-size {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px 0px 0px 10px;
}
.Main {
  width: 320px;
  gap: 20px;
  flex-direction: column;
  height: 325px;
  align-items: start;
  display: flex;
  grid-auto-flow: column;
  padding-top: 20px;
}
.Img-size {
  gap: 0px;
  height: auto;
  max-width: none;
  width: 100%;
  margin-left: 0em;
}
.Two-Columns {
  display: flex;
  gap: 0px;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.Three-columns {
  padding-left: 10px;
  margin: 0px;
  gap: 5px;
  display: flex;
}
.right {
  display: flex;
  justify-content: end;
  height: 332px;
}
.one-line {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.input {
  height: 38px;
  flex-grow: 1;
}
.label {
  flex-grow: 1;
}
