.root {
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
  width: 1000px;
  height: 640px;
}
.grid-element {
  background-color: #e8f0ff;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.Page-title {
  width: 420px;
  height: 325px;
  row-gap: 0px;
}
.main {
}
.title-font {
  font-family: FUTURA;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.1em;
  padding: 5px 10px 0px;
  margin-bottom: 5px;
}
.prgrp-font {
  font-family: futura;
  font-weight: 300;
  font-size: 16px;
  padding-right: 25px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-bottom: 25px;
  line-height: 1.42em;
  margin-top: 10px;
}
.buttons {
  padding: 0px;
  display: flex;
  flex-direction: row;
  gap: 0px 10px;
  margin-top: 0px;
  width: 100%;
  justify-content: space-between;
}
.button-size {
  width: auto;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.Main {
  width: 320px;
  gap: 20px;
  flex-direction: column;
  height: 325px;
  align-items: start;
  display: flex;
  grid-auto-flow: column;
  padding-top: 20px;
}
.Img-size {
  gap: 0px;
  height: auto;
  max-width: none;
  width: 100%;
  margin-left: 0em;
}
.Two-Columns {
  display: flex;
  grid-column-start: 1;
  grid-column-end: 3;
  gap: 0px;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.Three-columns {
  padding-left: 10px;
  margin: 0px;
  gap: 5px;
  display: flex;
}
