.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 900px;
  height: 1000px;
}
.indicator {
  background-color: #bcb4b4;
  height: 400px;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.heading-font {
  font-size: 70px;
  font-family: futura;
  font-weight: 300;
  margin: 10px;
}
.text-container {
  height: 200px;
  width: 400px;
}
.prgrp-font {
  font-family: futura;
  margin: 10px;
}
.two-column-layout {
  display: grid;
}
