.App {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 2fr 1fr;
}

.gallery {

}
.gallery .card {
  margin: 0;
}
