.root {
}
.Layouter {
  display: flex;
}
.TwoColumnLayout {
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 10px;
  width: 400px;
  height: 300px;
  grid-template-rows: 1fr 1fr;
}
.ThreeColumnLayout {
  grid-template-columns: 1fr 1fr 1fr;
  display: grid;
  gap: 5px;
  height: 300px;
  grid-template-rows: 1fr 1fr 1fr;
}
.Main {
  display: flex;
  flex-direction: column;
}
.Header {
}
.div-color {
  background-color: #4bd7c4;
  height: 100px;
  margin-right: 100px;
  padding: 0px 20px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.div-size {
  width: 100px;
  height: 100px;
  background-color: #4a4ac0;
  display: block;
  flex-direction: row;
  padding-right: 20px;
}
